
.container-video{
    display: flex;
    width: 50%

}

    

main{
    
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


main h1{
    font-size: 20px;
    display:flex;
    padding:15px;    
}
@media screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .container-video video{ width:100px;
    height: 50px;}
}